In [61]:
#load data from march_madness_pre.db into a dataframe
import pandas as pd
import sqlite3
conn = sqlite3.connect('march_madness.db')
c = conn.cursor()
df = pd.read_sql_query("SELECT * FROM march_madness", conn)
df

,Devan_win,Jeremy_win,Josh_win,Justin_win,Brant_win,Nick_win,Joe_win,Devan_pts,Jeremy_pts,Josh_pts,Justin_pts,Brant_pts,Nick_pts,Joe_pts,mw_firstfour_11,mw_firstfour_11_blowout,west_firstfour_11,west_firstfour_11_blowout,east_firstfour_16,east_firstfour_16_blowout,south_firstfour_16,south_firstfour_16_blowout,r64_w_game1,r64_w_game1_blowout,r64_w_game2,r64_w_game2_blowout,r64_w_game3,r64_w_game3_blowout,r64_w_game4,r64_w_game4_blowout,r64_w_game5,r64_w_game5_blowout,r64_w_game6,r64_w_game6_blowout,r64_w_game7,r64_w_game7_blowout,r64_w_game8,r64_w_game8_blowout,r64_mw_game1,r64_mw_game1_blowout,r64_mw_game2,r64_mw_game2_blowout,r64_mw_game3,r64_mw_game3_blowout,r64_mw_game4,r64_mw_game4_blowout,r64_mw_game5,r64_mw_game5_blowout,r64_mw_game6,r64_mw_game6_blowout,r64_mw_game7,r64_mw_game7_blowout,r64_mw_game8,r64_mw_game8_blowout,r64_e_game1,r64_e_game1_blowout,r64_e_game2,r64_e_game2_blowout,r64_e_game3,r64_e_game3_blowout,r64_e_game4,r64_e_game4_blowout,r64_e_game5,r64_e_game5_blowout,r64_e_game6,r64_e_game6_blowout,r64_e_game7,r64_e_game7_blowout,r64_e_game8,r64_e_game8_blowout,r64_s_game1,r64_s_game1_blowout,r64_s_game2,r64_s_game2_blowout,r64_s_game3,r64_s_game3_blowout,r64_s_game4,r64_s_game4_blowout,r64_s_game5,r64_s_game5_blowout,r64_s_game6,r64_s_game6_blowout,r64_s_game7,r64_s_game7_blowout,r64_s_game8,r64_s_game8_blowout,r32_w_game1,r32_w_game1_blowout,r32_w_game2,r32_w_game2_blowout,r32_w_game3,r32_w_game3_blowout,r32_w_game4,r32_w_game4_blowout,r32_mw_game1,r32_mw_game1_blowout,r32_mw_game2,r32_mw_game2_blowout,r32_mw_game3,r32_mw_game3_blowout,r32_mw_game4,r32_mw_game4_blowout,r32_e_game1,r32_e_game1_blowout,r32_e_game2,r32_e_game2_blowout,r32_e_game3,r32_e_game3_blowout,r32_e_game4,r32_e_game4_blowout,r32_s_game1,r32_s_game1_blowout,r32_s_game2,r32_s_game2_blowout,r32_s_game3,r32_s_game3_blowout,r32_s_game4,r32_s_game4_blowout,r16_w_game1,r16_w_game1_blowout,r16_w_game2,r16_w_game2_blowout,r16_mw_game1,r16_mw_game1_blowout,r16_mw_game2,r16_mw_game2_blowout,r16_e_game1,r16_e_game1_blowout,r16_e_game2,r16_e_game2_blowout,r16_s_game1,r16_s_game1_blowout,r16_s_game2,r16_s_game2_blowout,west_winner,west_winner_blowout,midwest_winner,midwest_winner_blowout,east_winner,east_winner_blowout,south_winner,south_winner_blowout,south_east_winner,south_east_winner_blowout,west_midwest_winner,west_midwest_winner_blowout,final_winner,final_winner_blowout
0,1,0,0,0,0,0,0,59,34,21,25,7,29,24,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Connecticut,0,UCLA,0,Houston,1,Texas,0,Tennessee,0,Kansas St.,1,San Diego St.,0,Creighton,2,Connecticut,1,Houston,0,Kansas St.,0,San Diego St.,0,San Diego St.,1,Houston,0,Houston,0
1,0,0,0,0,0,1,0,38,24,32,17,18,39,36,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Arkansas,1,Gonzaga,1,Houston,0,Texas,0,Tennessee,0,Michigan St.,1,Alabama,2,Creighton,1,Gonzaga,1,Houston,0,Tennessee,0,Alabama,2,Tennessee,0,Houston,0,Houston,0
2,1,0,0,0,0,0,0,58,35,33,17,7,36,26,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Connecticut,1,UCLA,0,Houston,0,Xavier,2,Tennessee,0,Michigan St.,0,San Diego St.,3,Creighton,3,UCLA,0,Houston,2,Tennessee,1,Creighton,0,Tennessee,2,Houston,0,Houston,3
3,0,0,0,0,0,1,0,25,29,21,32,34,36,24,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Connecticut,2,Gonzaga,0,Houston,1,Texas,0,Tennessee,0,Kansas St.,0,Alabama,2,Creighton,0,Gonzaga,0,Houston,1,Kansas St.,1,Alabama,0,Kansas St.,0,Gonzaga,0,Gonzaga,1
4,0,0,0,0,0,1,0,26,43,21,24,7,51,24,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Connecticut,1,UCLA,0,Houston,0,Texas,0,Tennessee,0,Kansas St.,0,Alabama,0,Creighton,0,Connecticut,1,Houston,0,Kansas St.,0,Alabama,0,Alabama,1,Connecticut,1,Alabama,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26415,1,0,0,0,0,0,0,42,29,34,20,13,37,32,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Arkansas,0,Gonzaga,1,Houston,3,Xavier,0,Tennessee,0,Kansas St.,0,Alabama,0,Creighton,1,Arkansas,0,Houston,0,Tennessee,0,Alabama,2,Tennessee,0,Houston,1,Houston,0
26416,1,0,0,0,0,0,0,48,24,26,17,7,45,35,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Arkansas,0,UCLA,1,Houston,0,Texas,1,Tennessee,0,Michigan St.,0,Alabama,2,Creighton,1,UCLA,0,Houston,1,Tennessee,1,Alabama,2,Alabama,1,Houston,1,Houston,0
26417,0,0,0,0,0,1,0,23,27,26,17,7,65,41,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Connecticut,0,UCLA,0,Miami FL,1,Texas,1,Tennessee,1,Michigan St.,0,Alabama,0,Creighton,3,UCLA,0,Texas,2,Tennessee,0,Creighton,0,Creighton,1,Texas,0,Creighton,0
26418,1,0,0,0,0,0,0,51,30,34,23,7,35,34,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Arkansas,0,UCLA,0,Houston,1,Xavier,1,Tennessee,2,Kansas St.,3,San Diego St.,1,Creighton,2,Arkansas,2,Houston,1,Tennessee,0,Creighton,0,Tennessee,0,Houston,1,Houston,1
26419,0,0,0,0,0,1,0,28,39,29,21,12,53,21,Pittsburgh,0,Arizona St.,2,Texas A&M Corpus Chris,0,Fairleigh Dickinson,2,Kansas,2,Arkansas,1,Saint Mary's,1,Connecticut,2,TCU,0,Gonzaga,1,Northwestern,0,UCLA,3,Houston,1,Auburn,0,Miami FL,0,Indiana,1,Pittsburgh,1,Xavier,0,Penn St.,1,Texas,2,Fairleigh Dickinson,0,Florida Atlantic,0,Duke,2,Tennessee,0,Kentucky,0,Kansas St.,1,Michigan St.,1,Marquette,1,Alabama,2,Maryland,0,San Diego St.,0,Furman,0,Creighton,0,Baylor,1,Missouri,1,Princeton,0,Arkansas,0,Connecticut,1,Gonzaga,0,UCLA,0,Houston,1,Miami FL,1,Xavier,1,Texas,0,Florida Atlantic,0,Tennessee,1,Kansas St.,0,Michigan St.,0,Alabama,2,San Diego St.,2,Creighton,0,Princeton,1,Connecticut,1,Gonzaga,0,Houston,0,Xavier,0,Tennessee,1,Kansas St.,1,Alabama,0,Creighton,2,Connecticut,0,Houston,0,Tennessee,1,Alabama,1,Alabama,1,Houston,0,Alabama,0

In [72]:
pd.read_sql_query("SELECT sum(Josh_win), count(*), sum(Josh_win)/count(*) FROM march_madness where final_winner in ('Tennessee', 'Florida Atlantic')", conn)

   sum(Josh_win)  count(*)  sum(Josh_win)/count(*)
0          11314     14243                       0

In [64]:
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', 20)
df_query = pd.read_sql_query('''SELECT 
                        Josh_pts, Brant_pts, Justin_pts, Jeremy_pts, Joe_pts, Devan_pts, Nick_pts,
                        r16_w_game1, r16_w_game1_blowout,
                        r16_w_game2, r16_w_game2_blowout,
                        r16_s_game1, r16_s_game1_blowout,
                        r16_s_game2, r16_s_game2_blowout,
                        r16_e_game1, r16_e_game1_blowout,
                        r16_e_game2, r16_e_game2_blowout,
                        r16_mw_game1, r16_mw_game1_blowout,
                         r16_mw_game2, r16_mw_game2_blowout,
                        east_winner, east_winner_blowout,
                        south_winner, south_winner_blowout,
                        west_winner, west_winner_blowout,
                        midwest_winner, midwest_winner_blowout,
                        south_east_winner, south_east_winner_blowout,
                        west_midwest_winner, west_midwest_winner_blowout,
                        final_winner, final_winner_blowout
                        from march_madness
                             where final_winner not in ("Tennessee", "Florida Atlantic")
                             and Josh_win = 1
                             ''', conn)
#round values in df_query to 2 decimal places
df_query = df_query.round(2)
df_query

,Josh_pts,Brant_pts,Justin_pts,Jeremy_pts,Joe_pts,Devan_pts,Nick_pts,r16_w_game1,r16_w_game1_blowout,r16_w_game2,r16_w_game2_blowout,r16_s_game1,r16_s_game1_blowout,r16_s_game2,r16_s_game2_blowout,r16_e_game1,r16_e_game1_blowout,r16_e_game2,r16_e_game2_blowout,r16_mw_game1,r16_mw_game1_blowout,r16_mw_game2,r16_mw_game2_blowout,east_winner,east_winner_blowout,south_winner,south_winner_blowout,west_winner,west_winner_blowout,midwest_winner,midwest_winner_blowout,south_east_winner,south_east_winner_blowout,west_midwest_winner,west_midwest_winner_blowout,final_winner,final_winner_blowout
0,35,33,20,27,30,22,35,Connecticut,0,Gonzaga,0,Alabama,1,Creighton,0,Tennessee,0,Kansas St.,0,Houston,3,Texas,0,Tennessee,1,Alabama,0,Gonzaga,0,Texas,0,Tennessee,0,Gonzaga,0,Gonzaga,0
1,39,33,20,24,38,20,38,Arkansas,1,Gonzaga,0,Alabama,3,Creighton,1,Tennessee,0,Kansas St.,0,Houston,1,Texas,2,Tennessee,2,Alabama,0,Gonzaga,0,Texas,0,Tennessee,3,Gonzaga,0,Gonzaga,0
2,40,38,17,27,37,19,38,Connecticut,0,Gonzaga,1,Alabama,0,Creighton,1,Florida Atlantic,1,Michigan St.,1,Houston,0,Texas,0,Florida Atlantic,2,Creighton,1,Gonzaga,0,Texas,1,Florida Atlantic,1,Gonzaga,1,Gonzaga,3
3,36,34,26,29,27,23,35,Arkansas,1,Gonzaga,0,Alabama,1,Princeton,0,Tennessee,1,Kansas St.,1,Houston,0,Xavier,0,Tennessee,0,Alabama,3,Gonzaga,0,Houston,0,Tennessee,1,Gonzaga,1,Gonzaga,0
4,36,36,25,28,24,34,24,Connecticut,1,Gonzaga,1,San Diego St.,0,Princeton,0,Tennessee,0,Kansas St.,0,Houston,0,Texas,0,Tennessee,2,San Diego St.,0,Gonzaga,1,Houston,2,Tennessee,2,Gonzaga,0,Gonzaga,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,37,34,17,31,31,25,37,Arkansas,0,Gonzaga,0,Alabama,0,Creighton,1,Florida Atlantic,0,Michigan St.,0,Houston,1,Xavier,2,Florida Atlantic,1,Creighton,0,Gonzaga,0,Houston,1,Florida Atlantic,0,Gonzaga,1,Gonzaga,0
83,38,33,21,24,31,30,35,Arkansas,1,Gonzaga,0,San Diego St.,0,Creighton,2,Florida Atlantic,1,Kansas St.,1,Houston,1,Texas,1,Florida Atlantic,0,Creighton,0,Gonzaga,0,Houston,1,Florida Atlantic,1,Gonzaga,0,Gonzaga,0
84,37,37,27,29,26,24,34,Arkansas,0,Gonzaga,0,Alabama,1,Princeton,0,Florida Atlantic,0,Kansas St.,2,Houston,0,Xavier,0,Florida Atlantic,0,Alabama,2,Gonzaga,2,Houston,1,Florida Atlantic,1,Gonzaga,1,Gonzaga,1
85,35,34,22,30,32,20,34,Connecticut,3,Gonzaga,0,Alabama,0,Creighton,0,Tennessee,0,Kansas St.,2,Houston,1,Texas,2,Tennessee,1,Alabama,0,Gonzaga,0,Texas,0,Tennessee,0,Gonzaga,1,Gonzaga,0
86,37,37,17,33,26,32,33,Connecticut,1,Gonzaga,1,San Diego St.,2,Creighton,0,Florida Atlantic,1,Michigan St.,0,Houston,1,Xavier,0,Florida Atlantic,0,Creighton,0,Gonzaga,1,Houston,1,Florida Atlantic,0,Gonzaga,1,Gonzaga,1

In [38]:
joe_best = pd.read_sql_query('''SELECT 
                        r16_w_game1, r16_w_game2,
                        r16_s_game1, r16_s_game2,
                        r16_e_game1, r16_e_game2,
                        r16_mw_game1, r16_mw_game2,
                        east_winner, south_winner, west_winner,  midwest_winner, 
                        south_east_winner, west_midwest_winner, final_winner,
                        Devan_Pts
                        FROM march_madness_pre
                        where Devan_pts = (select max(Devan_pts) from march_madness_pre)''', conn)
#round values in df_query to 2 decimal places
joe_best

,r16_w_game1,r16_w_game2,r16_s_game1,r16_s_game2,r16_e_game1,r16_e_game2,r16_mw_game1,r16_mw_game2,east_winner,south_winner,west_winner,midwest_winner,south_east_winner,west_midwest_winner,final_winner,Devan_pts
0,Kansas,UCLA,West Virginia,Utah St.,Memphis,Vermont,Houston,Texas,Vermont,Utah St.,UCLA,Houston,Utah St.,UCLA,UCLA,111

In [97]:
df_query = pd.read_sql_query('''SELECT 
                    avg(Devan_win) DevWP, avg(Jeremy_win) JerWP, avg(Joe_win) JoeWP, avg(Brant_win) BraWP, avg(Justin_win) JusWP, avg(Josh_win) JoshWP, avg(Nick_win) NickWP,
                    avg(Devan_pts) DevPts, avg(Jeremy_pts) JerPts, avg(Joe_pts) JoePts, avg(Brant_pts) BraPts, avg(Justin_pts) JusPts, avg(Josh_pts) JoshPts, avg(Nick_pts) NickPts
                        FROM march_madness
                        where final_winner = "Princeton"''', conn)
#round values in df_query to 2 decimal places
df_query = df_query.round(2)
df_query

,DevWP,JerWP,JoeWP,BraWP,JusWP,JoshWP,NickWP,DevPts,JerPts,JoePts,BraPts,JusPts,JoshPts,NickPts
0,0.06,0.0,0.06,0.0,0.89,0.0,0.0,29.0,33.22,34.39,10.28,50.06,24.89,28.61